.kamisetak{
    display: flex;
    float: left;    
    padding-left: 11%;
    gap: 15%;
    margin-bottom: 3%;
}
h1{
    text-align: center;
    padding: 1%;
}
.kamisetak img{
    width: 45vh;
    height: auto;
}
.straw img{
    width: 40.5vh;
    height: auto;
}
.cat img{
    width: 40.5vh;
    height: 50vh;
}
.prakak{
    display: flex;
    float: left;    
    padding-left: 11%;
    gap: 15%;
    margin-bottom: 3%;
    padding-top: 130px;

}
.prakak img{
    width: 45vh;
    height: auto;
}
h1{
    text-align: center;
    padding: 2%;
}
.titulo{
    display: wrap;
    position: absolute;
    transform: translateX(650px)
}
.titulo h1{
    transform: translateY(875px);
}
.prakak2{
    display: flex;
    float: left;    
    padding-left: 11%;
    gap: 15%;
    margin-bottom: 3%;
}
.prakak2 img{
    width: 45vh;
    height: auto;
}