h1 {
  margin-bottom: 20px;
}

.filter-buttons {
  margin-bottom: 25px;
  margin-left: 8vh;
}

.filter-btn {
  padding: 1.5vh 1.5rem;
  margin: 1%;
  border: none;
  background-color: #909dff;
  color: rgb(16, 16, 16);
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  
  
}

.filter-btn:hover {
  background-color: #f84600;
}

.product-container {
  display: flex;
  flex-wrap: wrap;       
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: rgb(109, 103, 103);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  width: 50VH; 
}

.card img {
  width: 45vh;
  height: 45VH;
  object-fit: cover;     
  border-radius: 5px;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  font-weight: bold;
  color: #222;
}


