main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txamarrak{
    display: flex;
    flex-direction: column;
}
.txamarrak h1{
    padding: 10%;
}
.txamarrak p{
    font-size: large;
    text-align: center;
    padding-top: 30px;
}
.txamarrak img{
    width: 45vh;
    height: auto;
    align-items: center;
}